%rename link old_link_

*link:
%(old_link_) -T ../module/subsdk9.ld -T ../syms/output_ld_script/TOTK_@TOTK_VERSION@/syms_merged.ld --no-demangle --shared --export-dynamic --gc-sections --build-id=sha1 --nx-module-name -init=exl_module_init --exclude-libs=ALL

*startfile:
crti%O%s crtbegin%O%s
