name: Build mod binaries

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  Compile:
    runs-on: ubuntu-24.04
    container: devkitpro/devkita64:latest # debian + dkp-pacman image

    steps:
    - name: install github releaser
      run: |
        wget -q https://github.com/cli/cli/releases/download/v2.54.0/gh_2.54.0_linux_amd64.tar.gz
        tar xf gh_2.54.0_linux_amd64.tar.gz
        mv ./gh_2.54.0_linux_amd64/bin/gh /__w/gh # idk
        rm -rf ./gh_2.54.0_linux_amd64 gh_2.54.0_linux_amd64.tar.gz

    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: '0'

    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1.13
      with:
        cmake-version: '3.26.x'

    - name: Build 100
      run: cmake -DTOTK_VERSION=100 --toolchain=cmake/toolchain.cmake -S . -B build && make -C build subsdk9_meta -j4

    - name: Zip 100
      run: |
        mkdir -p totk100-lotuskit/exefs
        cp build/main.npdm build/subsdk9 build/subsdk9.elf totk100-lotuskit/exefs
        cp -r ips_patches/exefs_patches ips_patches/runtime_patches frontend romfs totk100-lotuskit
        zip -r totk100-lotuskit-${{ github.sha }}.zip totk100-lotuskit

    - name: Build 110
      run: cmake -DTOTK_VERSION=110 --toolchain=cmake/toolchain.cmake -S . -B build && make -C build subsdk9_meta -j4

    - name: Zip 110
      run: |
        mkdir -p totk110-lotuskit/exefs
        cp build/main.npdm build/subsdk9 build/subsdk9.elf totk110-lotuskit/exefs
        cp -r ips_patches/exefs_patches ips_patches/runtime_patches frontend romfs totk110-lotuskit
        zip -r totk110-lotuskit-${{ github.sha }}.zip totk110-lotuskit

    - name: Build 121
      run: cmake -DTOTK_VERSION=121 --toolchain=cmake/toolchain.cmake -S . -B build && make -C build subsdk9_meta -j4

    - name: Zip 121
      run: |
        mkdir -p totk121-lotuskit/exefs
        cp build/main.npdm build/subsdk9 build/subsdk9.elf totk121-lotuskit/exefs
        cp -r ips_patches/exefs_patches ips_patches/runtime_patches frontend romfs totk121-lotuskit
        zip -r totk121-lotuskit-${{ github.sha }}.zip totk121-lotuskit

    - name: Create Release
      run: |
        git config --global --add safe.directory /__w/totk-lotuskit/totk-lotuskit
        #echo /__w/gh release delete latest -y --cleanup-tag
        #echo /__w/gh release create latest totk*-lotuskit-${{ github.sha }}.zip
        /__w/gh release create $(date +%Y-%m-%d)-${{ github.sha }} totk*-lotuskit-${{ github.sha }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
